Django==6.1
PyJWT==2.13.0
asgiref==3.12.1
charset-normalizer==3.4.9
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
pillow==12.3.0
psycopg2-binary==2.9.12
python-decouple==3.8
qrcode==8.2
razorpay==2.0.1
reportlab==5.0.0
sqlparse==0.5.5